h1(style="color: rgb(70, 121, 254); font-size: 24px; text-align: center;") Dynamic Doctor Report

fieldset
  legend(style="font-weight: bold;") Basic Data
  each item in basicData
    div(style="margin-bottom: 10px;")
      span(style="display: inline-block; width: 150px;") #{item.title}:
      span(style="display: inline-block; margin-left: 10px; width: 50px;") #{item.name}
      span(style="margin-left: 10px;") #{item.value}

hr

h2 Found issues

each item in issues
  fieldset
    if item.type == "error"
      legend(style="font-weight: bold; color: red;") #{item.type}
    else
      legend(style="font-weight: bold; color: orange;") #{item.type}
    div(style="margin-bottom: 10px;") #{item.message}

hr

h2 Config files

each configFile in configFiles
  fieldset
    legend(style="font-weight: bold;") #{configFile.path}

    code
      each item in configFile.configFile
        div
          - var n = item.spaces
          while n > 0
            span &nbsp;
            - n--
          span #{item.text}